# Node.js
node_modules/

# Dependency directories
/dist/
/tmp/

# Log files
logs
*.log

# Environment variables
.env

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
